<template name="custom_post_submit">
  <div class="form-page post-submit">
       <h2 class="custom-info-banner">
         Stories come from anywhere.<br/>
         <br/>
         Remember to categorize your story in the most specific and correct way possible, <br/>
         the country or city, the source and the topic of the story.<br/>
         <br/>
         Stories correctly categorized get more upvotes. Good Luck!
       </h2>
    <div class="grid grid-module">
      {{> quickForm collection="Posts" id="submitPostForm" template="bootstrap3-horizontal" input-col-class="controls" type="method" meteormethod="submitPost" fields=postFields}}
    </div>
  </div>
</template>