<template name="custom_post_share">
<div class="custom-post-share {{moduleClass}}">
    <p>
    Share:</p>
    <div class="custom-share-options">
      <a class="custom-share-option-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{this.getShareableLink}}" target="_blank">{{{icon "facebook"}}}</a>
      <a class="custom-share-option-twitter" href="//twitter.com/intent/tweet?text={{encodedTitle}}&url={{this.getShareableLink}}&{{viaTwitter}}" target="_blank">{{{icon "twitter"}}}</a>
      <a class="custom-share-option-linkedin" href="//www.linkedin.com/shareArticle?mini=true&url={{this.getShareableLink}}&amp;summary={{encodedTitle}}" target="_blank">{{{icon "linkedin"}}}</a>
    </div>
  </div>
</template>