// -------------------------------- Logo & Body Storyfeed --------------------------------- //


.logo-image {
  width: 170px !important;
}

.body {
  background:#eee;
  font-size: 13px !important;
}

// -------------------------------- Custom Hero Banner Components --------------------------------- //

.custom-hero-banner {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: black;
  border: 0px solid #ccc;
  display: block;
  padding: 10px;
  box-sizing: border-box;
  text-decoration: none;
  background-image: url('http://storyfeed.co/system_images/storyfeed_banner_hero_world.png');
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 600px) {
  .custom-hero-banner {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}



// -------------------------------- Custom Info Banner located in post a story Components --------------------------------- //


.custom-info-banner {
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  color: black;
  border: 0px solid #ccc;
  display: block;
  padding: 20px;
  box-sizing: border-box;
  text-decoration: none;
  background-image: url('http://storyfeed.co/system_images/storyfeed_banner_info-1.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 600px) {
  .custom-info-banner {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}




// -------------------------------- Custom On-site Analytics Information --------------------------------- //


.post-admin{
	display: flex;
	align-items: center;
	.post-admin-actions, .post-admin-stats{
		border-radius: 0px;
		margin-left: 10px;
		margin-right: 3px;
	}
}


// -------------------------------- Custom Menu Content --------------------------------- //


// ---- Top Stories - New Stories -- //
.menu-item-label-text {
  font-weight: normal !important;
}
// --- end -- //


// ---- No notifications -- //
.menu-label {
  font-weight: normal !important;
}
// --- end -- //



// ---- Share a Story -- //
.submit {
  font-weight: normal !important;
}
// --- end -- //



// ---- Register/Sign in -- //
.account-link {
  font-weight: normal !important;
}
// --- end -- //




// -------------------------------- Post Vote in Posts Page--------------------------------- //

.post-vote {
    .vote-actions{
      border: 1px solid #dfdbdb;
      border-radius: 5px;
    }
    .vote-action{
      font-size: 9px !important;
      font-weight: normal;
      padding-left: auto !important;
      padding-right: auto !important;
      margin-top: 0px;
      margin-right: auto !important;
      margin-bottom: 0px;
      margin-left: auto !important;
    }
    .downvote-link{
      border-top: none;
    }
}

.points {
   font-size: 10px !important;
   margin: auto;
   padding: 4px;
}

.unit {
   margin-right: 4px;
}




// -------------------------------- Custom Post Content in posts page --------------------------------- //


.post-heading {
	margin-bottom: 3px;
	line-height: 1.2;
	.post-title {
		display: inline;
		margin-bottom: 0px;
	}
	.post-domain {
		color: lightest-grey;
		font-weight: normal;
	}
}

.post-title {
	 font-size: 20px !important;
	 color: black;
   font-weight: 300 !important;
}

.post-categories {
   margin-left: 5px !important;
}

.post-category {
   font-size: 7px !important;
   margin-bottom: 0px;
   font-weight: 600 !important;
   background: #f6f6f6 !important;
   border-radius: 1px !important;
}

.post-meta {
	 font-size: 13px !important;
	 color: light grey;
	 line-height: 1.5;
}

.postMeta-module {
   margin-right: 10px;
}

.post-admin-stats {
   font-size: 11px !important;
}

.post-domain {
   font-size: 12px !important;
   margin-left: 5px !important;
}

.post-discuss {
   font-size: 12.5px !important;
   .icon-comment {
     font-size: 12px !important;
     margin-top: 5px !important;
   }
   .action-count {
    position: static !important;
    margin-top: -5px !important;
   }
}

.post-time {
   margin-right: 4px;
}

.comments-link {
   font-weight: normal !important;
}



// -------------------------------- Custom app loader --------------------------------- //

.app-loading{
  height: 100vh;
}
.loader{
  min-height: 70px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  div{
    background:url("http://storyfeed.co/system_images/loading-storyfeed.gif") center center no-repeat;
    width: 40px;
    height: 40px;
    margin: 10px 0;    
  }
}



// -------------------------------- MAIN STRUCTURE ---------------------- //
// ---------------------------------------------------------------------- //
// ----------------------- New changes testing to main body ------------- //


.header {
  height: 43px !important;
   .logo {
     order: 1 !important;
     justify-content: flex-start !important;
     text-align: flex-start !important;
     align-items: flex-start !important;
     max-width: 140px !important;
    }
     .logo-image {
        line-height: 1;
        height: 105% !important;
      }
     @media screen and (max-width: 600px) {
      .logo {
       max-width: 600px !important;
       justify-content: center !important;
       text-align: center !important;
       align-items: center !important;
      }  
   }
}

.search{
  order: 2 !important;
}


.search-field {
  font-size: 12px !important;
  width: 350% !important;
  max-width: 500px !important;
  border-radius: 5px !important;
}
@media screen and (max-width: 600px) {
  .search-field {
   font-size: 13px !important;
   width: 100% !important;
   max-width: 190px !important;
   border-radius: 5px !important;
 }
}


.content-wrapper{
  max-width: 870px !important;
  margin-top: 0px;
  margin-right: 32% !important;
  margin-bottom: 0px;
  margin-left: auto;
}
@media screen and (max-width: 600px) {
  .content-wrapper{
  max-width: 1200px !important;
  margin-top: 0px;
  margin-right: auto !important;
  margin-bottom: 0px;
  margin-left: auto !important;
  }
}


.btn {
  font-size: 12.5px !important;
  padding-top: 9px !important;
  padding-right: 10px !important;
  padding-bottom: 9px !important;
  padding-left: 10px !important;
}


.footer {
    text-align: center;
    font-size: 11px !important;
}



// ------------- Menu Components --------------- //

.menu-component {
  text-align: left !important;
  font-size: 13px !important;
}



// ----------- Layout Css for New Side Bar --------------- //

.side-bar {
  position: fixed;
  background: white;
  border-radius: 3px;
  min-width: 300px !important;
  min-height: 50px !important;
  margin-top: 0px;
  margin-left: 68% !important;
  z-index: 1;
}
@media screen and (max-width: 600px) {
 .side-bar {
   position: fixed;
   display: none;
  }
}


.categories-side-bar {
  padding: 10px;
  position: relative;
  width: 100%;
  overflow-y: scroll !important;
  max-height: 220px !important;
}



// ---------------  testing -------------------- //

