// -------------------------------- Custom Hero Banner Components --------------------------------- //


.custom-hero-banner {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  color: black;
  border: 0px solid #ccc;
  display: block;
  padding: 10px;
  box-sizing: border-box;
  text-decoration: none;
  background-image: url('http://storyfeed.co/system_images/storyfeed_banner_hero_world.png');
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 600px) {
  .custom-hero-banner {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}


#close {
    float:right;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
}
#close:hover {
    float:right;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
    color:#fff;
}


// -------------------------------- Custom Info Banner located in share a story Components --------------------------------- //


.custom-info-banner {
  text-align: left;
  font-size: 18px;
  font-weight: 300;
  color: black;
  border: 0px solid #ccc;
  display: block;
  padding: 20px;
  box-sizing: border-box;
  text-decoration: none;
  background-image: url('http://storyfeed.co/system_images/storyfeed_banner_info-1.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 600px) {
  .custom-info-banner {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}


// -------------------------------- Center Menu Components --------------------------------- //

.menu-component {
	text-align: left !important;
	font-size: 100% !important;
}



// -------------------------------- Custom On-site Analytics Information --------------------------------- //


.post-admin{
	display: flex;
	align-items: center;
	.post-admin-actions, .post-admin-stats{
		border-radius: 0px;
		margin-left: 10px;
		margin-right: 3px;
	}
}


// -------------------------------- Custom Menu Content --------------------------------- //


// ---- Top Stories - New Stories -- //
.menu-item-label-text {
  font-weight: normal !important;
}
// --- end -- //


// ---- No notifications -- //
.menu-label {
  font-weight: normal !important;
}
// --- end -- //



// ---- Share a Story -- //
.submit {
  font-weight: normal !important;
}
// --- end -- //


// -------------------------------- Custom Post Content --------------------------------- //


.post-heading {
	margin-bottom: 3px;
	line-height: 1.2;
	.post-title {
		display: inline;
		margin-bottom: 0px;
	}
	.post-domain {
		color: lightest-grey;
		font-weight: normal;
	}
}

.post-title {
	font-size: 125% !important;
	color: black;
  font-weight: 300 !important;
}

.post-categories {
  margin-left: 10px;
}

.post-category {
  font-size: 65% !important;
  margin-bottom: 5px;
}

.post-meta {
	font-size: 13px;
	color: light grey;
	line-height: 1.5;
}

.postMeta-module {
  margin-right: 10px;
}

.post-admin-stats {
  font-size: 11px;
}

.points {
	margin-right: 4px;
}

.unit {
	margin-right: 4px;
}

.post-time {
  margin-right: 4px;
}

.comments-link {
  font-weight: normal !important;
}


// -------------------------------- Category Titles ans Description --------------------------------- //


.category-parents {
  font-size: 60% !important;
}


.category-description {
  font-size: 130% !important;
}


.main-category-title {
  font-size: 60% !important;
}



// -------------------------------- Custom app loader --------------------------------- //

.app-loading{
  height: 100vh;
}
.loader{
  min-height: 70px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  div{
    background:url("http://storyfeed.co/system_images/loading-storyfeed.gif") center center no-repeat;
    width: 40px;
    height: 35px;
    margin: 10px 0;    
  }
}
