<head>
  
  <title>StoryFeed - Democracy for Cities and Countries</title>

  <meta name="description" content="StoryFeed is an app that lets you share your stories with your entire city, country and the world. And vote for what's most important.">
  <meta name="keywords" content="social, news, app, new">


<!--//////////////// GEOLOCATION //////////////// -->

<!-- change the variables in /packages/telescope-tags/lib/client/templates/autoform_category.js-->
  <script language="JavaScript" src="https://ssl.geoplugin.net/javascript.gp?k=3ad5809aef226b92" type="text/javascript"></script>

  <script language="Javascript" src="//gd.geobytes.com/gd?after=-1&amp;variables=GeobytesCity,sGeobytesCapital,GeobytesCountry" type="text/javascript"></script>


<!-- Redirect to City and Country -->
<script language="Javascript">
if(typeof(sGeobytesCity)=="undefined"
   ||typeof(sGeobytesCountry)=="undefined")
{
   // If something gone wrong with the variables set them to default value.
   var sGeobytesCity="unknown";
   var sGeobytesCountry="unknown";
} 
// Visitors from Buenos Aires go here
if(sGeobytesCity=="Buenos Aires")
{
   window.open("http://www.storyfeed.co/?cat[0]=buenos-aires", "_self");
}
// Visitors from Argentina go here
else if(sGeobytesCountry=="Argentina")
{  
   window.open("http://www.storyfeed.co/?cat[0]=argentina", "_self");
}
</script>
<!--////////////// END GEOLOCATION //////////////// -->


</head>
